.navbar.bg-primary .navbar-nav .nav-link{
    color: white;
}

.navbar.bg-primary .navbar-nav .nav-link:hover{
    color: brown;
}

.navbar.bg-primary .navbar-nav .nav-link.active[aria-current="page"] {
    color: red;
}

.edu-all{
    padding: 20px;
}
