body{
    color: white;
    background-color: black;
}

#me{
    padding: 20px;
}

#me-jpg{
    float:left;
    width:750px;
    height:550px;
    margin-right:20px;
}

#me-text{
    padding: 20px;
}

.navbar.bg-primary .navbar-nav .nav-link{
    color: white;
}

.navbar.bg-primary .navbar-nav .nav-link:hover{
    color: brown;
}

.navbar.bg-primary .navbar-nav .nav-link.active[aria-current="page"] {
    color: red;
}

.edu-all .edu-h2{
    padding: 20px;
    color: red;
}

.edu-all .edu-h3{
    padding: 20px;
}

.me1{
    padding: 30px;
}

.me2{
    padding: 30px;
    color: red;
}

.me3{
    padding-left: 30px;
}

.contact{
    padding: 30px;
}

.linkedin{
    padding: 30px;
}

.email{
    padding: 30px;
}
